{% extends 'base.html' %}

{% block title %}Home - Crime Records{% endblock %}

{% block content %}
    <h2>Welcome to the Crime Records Management System</h2>
    <p>Use the navigation bar above to manage different record types.</p>
    <p>This is the only state approved database for reporting and informing crimes and thefts happening in the neighbourhood </p>
    <p>if you are a victim report to us through this website,if any suspicious activity noticed or found nearby please report to us through this website.</p>
{% endblock %}